body{
    margin: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head {
 text-align: center;
}
.pads {
    width: 100%;
    height: 100%;
    display: flex;
}

.pads > div {
   height: 100px;
   width: 100px;
   flex: 1;
}

.pads1 {
    background-color: #f8b195;
} 

.pads2 {
    background-color: #f67280;
}

.pads3 {
    background-color: #c06c84;
} 

.pads4 {
    background-color: #6c5b7b;
}

.pads5 {
    background-color: #355c7d;
} 

